/* @import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Merienda:wght@300..900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .font {
  font-family: "Noto Serif Gujarati", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
} */
@layer base {
  :root {
    --background: 169 55% 94%;
    --foreground: 171 46% 8%;
    --card: 169 55% 94%;
    --card-foreground: 171 46% 8%;
    --popover: 169 55% 94%;
    --popover-foreground: 171 46% 8%;
    --primary: 170 71% 30%;
    --primary-foreground: 169 55% 94%;
    --secondary: 170 83% 65%;
    --secondary-foreground: 171 46% 8%;
    --muted: 169 55% 20%;
    --muted-foreground: 171 46% 70%;
    --accent: 170 96% 40%;
    --accent-foreground: 171 46% 8%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 171 46% 8%;
    --border: 169 55% 20%;
    --input: 169 55% 20%;
    --ring: 170 96% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 170 56% 6%;
    --foreground: 170 45% 92%;
    --card: 170 56% 6%;
    --card-foreground: 170 45% 92%;
    --popover: 170 56% 6%;
    --popover-foreground: 170 45% 92%;
    --primary: 170 71% 70%;
    --primary-foreground: 170 56% 6%;
    --secondary: 170 83% 35%;
    --secondary-foreground: 170 56% 6%;
    --muted: 170 57% 80%;
    --muted-foreground: 170 45% 92%;
    --accent: 170 96% 60%;
    --accent-foreground: 170 56% 6%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 170 45% 10%;
    --border: 170 56% 60%;
    --input: 170 57% 80%;
    --ring: 170 96% 60%;
  }
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
}

.custom_bg {
  @apply bg-gradient-to-r from-slate-400 to-rose-300;
}

.dark .custom_bg {
  @apply bg-gradient-to-r from-gray-800 to-gray-600; /* Dark mode gradient */
}
